html, body {
    font-family: 'Didact Gothic', sans-serif !important;
}

.itlab-wrapper {
    position: relative;
    overflow-x: hidden;
}

.btn-primary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #FFEB3B !important;
    --bs-btn-border-color: #FFEB3B !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #FFEB3B !important;
    --bs-btn-hover-border-color: #FFEB3B !important;
    --bs-btn-focus-shadow-rgb: 29, 131, 170 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #FFEB3B !important;
    --bs-btn-active-border-color: #FFEB3B !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #000 !important;
    --bs-btn-disabled-bg: #FFEB3B !important;
    --bs-btn-disabled-border-color: #FFC107 !important;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}



@media screen and (max-width: 992px) {
}

@media screen and (min-width: 1640px) {
    .intro__bg {
        top: -867px !important;
    }
}
@media screen and (min-width: 1680px) {
    .intro__bg {
        top: -267px !important;
    }
}

/* -- Nav scrin nuber 1 - index --*/

.navbar-collapse {
    margin-left: 200px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #fff;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.navbar-nav .nav-link.active {
    color: #3a7b0f !important;
}
ul.soc li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
ul.soc .facebook {
    background: url(../img/facebook.svg) no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
ul.soc .facebook:hover {
    background: url(../img/facebook-h.svg) no-repeat;
}
ul.soc .youtube {
    background: url(../img/youtube.svg) no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
ul.soc .youtube:hover {
    background: url(../img/youtube-h.svg) no-repeat;
}
ul.soc .insta {
    background: url(../img/insta.svg) no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
ul.soc .insta:hover {
    background: url(../img/insta-h.svg) no-repeat;
}
ul.soc .hed-tel {
    background: url(../img/tel.svg) no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
ul.soc .hed-tel:hover {
    background: url(../img/tel-h.svg) no-repeat;
}

.breadcrumb {
}
.breadcrumb li {}
.breadcrumb li a {
    color: #3a7306;
}
.breadcrumb li a i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/house.svg) no-repeat;
    background-size: 100%;
}

.mobile {
	width: 100%;
	display: none;
	background-color: rgba(255,255,255,.0);
	height: 50px;
}

.containerr {
    width: 100%;
    height: 100%;
    min-height: 568px;
    position: absolute;
    overflow: hidden;
    -moz-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    z-index: 100;
  }
  
  .menu-trigger, .close-trigger {
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 333;
  }
  .menu-trigger:hover .menu-trigger-bar:before, .close-trigger:hover .menu-trigger-bar:before {
    width: 100%;
  }
  .menu-trigger:hover .close-trigger-bar:before, .close-trigger:hover .close-trigger-bar:before {
    width: 100%;
  }
  
  .close-trigger {
    z-index: 5;
    top: 42px;
  }
  
  .menu-trigger-bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #498812;
    margin-bottom: 6px;
    transform: rotate(-45deg);
    position: relative;
  }
  .menu-trigger-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .menu-trigger-bar.top {
    width: 50%;
  }
  .menu-trigger-bar.middle:before {
    left: auto;
    right: 0;
  }
  .menu-trigger-bar.bottom {
    width: 50%;
    margin-left: 50%;
  }
  
  .close-trigger-bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #498812;
    position: relative;
  }
  .close-trigger-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .close-trigger-bar.left {
    transform: translateX(100px) translateY(-100px) rotate(-45deg);
  }
  .close-trigger-bar.right {
    transform: translateX(-100px) translateY(-100px) rotate(45deg);
    top: -3px;
  }
  
  
  
  .inner-container, .menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .inner-container {
    z-index: 20;
  }
  
  .menu-container {
    display: flex;
    align-items: start;
  }
  
  .menu {
    display: block;
    width: 100%;
    padding: 25% 15%;
  }
  .menu li {
    text-align: left;
    display: block;
    padding: 5px 0;
    font-size: 20px;
  }
  .menu a {
    text-decoration: none;
    color: #498812;
    display: inline-block;
    padding: 2px 0;
    position: relative;
    margin-left: 8%;
  }
  .menu a:hover:before {
    opacity: 1;
    transform: translateX(0px);
  }
  .menu a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18px;
    height: 4px;
    opacity: 0;
    background-color: #222222;
    transform: translateX(100px);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .menu ul.soc {
    display: block;
    vertical-align: middle;
    padding-left: 0;
    height: 60%;
    padding-top: 20%;
  }
  
  .menu-bg {
    position: absolute;
    display: block;
    width: 243%;
    left: -53%;
    top: -25%;
    height: 43%;
    background-color: #FFC107;
  }
  .menu-bg.middle {
    top: 29%;
    left: -53%;
    transform: rotate(-45deg) scaleY(0);
  }
  .menu-bg.top {
    left: -33%;
    top: 0;
    transform: rotate(-45deg) translateY(-152%);
  }
  .menu-bg.bottom {
    top: 105%;
    transform: rotate(-45deg) translateY(25%);
    left: -20%;
  }
  
  #links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 13px;
    font-family: tahoma;
    color: #fff;
  }
  
  #links a {
    text-decoration: none;
    font-size: 2.3em;
    color: #fff;
  }
  
  #twitter {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  
  #pens {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

@media screen and (max-width: 992px) {
    .navbar-collapse {
        margin-left: 0px !important;
    }
    nav.navbar {display: none;}
    .mobile {position: absolute;height: 100vh;display: block;}
    ul.soc li:last-child {
        margin-right: 0px;
    }
}

/* -- END Nav scrin nuber 1 - index --*/

/* -- First scrin nuber 1 - index --*/

.logo_top {
    position: absolute;
    width: 150px;
    top: 10px;
}
.intro__bg {
    position: absolute;
    z-index: -1;
    top: -150px;
    left: 0;
    width: 100%;
}
.intro__bg_1 {
    position: absolute;
    z-index: -1;
    top: -115px;
    left: -225px;
    width: 500px;
    height: 500px;
}
.intro__bg_2 {
    position: absolute;
    z-index: -1;
    top: 490px;
    left: -60px;
    width: 130px;
    height: 130px;
}
.intro__bg_3 {
    position: absolute;
    z-index: -1;
    top: -60px;
    left: 50%;
    width: 130px;
    height: 130px;
}
.intro__bg_4 {
    position: absolute;
    z-index: -1;
    top: 170px;
    right: -230px;
    width: 500px;
    height: 500px;
}
.left-h1 {
    text-align: right;
    margin-top: 100px !important;
    padding-left: 35% !important;
}
.left-h1 button {
    width: 170px;
    height: 45px;
    top: -20%;
    right: 40px;
    font-size: 22px;
    padding-top: 2px;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: #3a7b0f;
    border: none;
    position: relative;
    z-index: 10;
}
.left-h1 button:hover {
    background: #53af16;
    color: #fff;
}
.cloud1 {
    width: 365px;
    height: 190px;
    background: url(../img/cloud1.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    animation: clouds 12s linear infinite;
    transform: translateX(500%);
    opacity: 0.5;
}
.cloud2 {
    width: 141px;
    height: 81px;
    background: url(../img/cloud2.svg) no-repeat;
    position: absolute;
    top: 50px;
    left: 0;
    animation: clouds 10s linear infinite;
    transform: translateX(1100%);
    opacity: 0.5;
}
.cloud3 {
    width: 418px;
    height: 130px;
    background: url(../img/cloud3.svg) no-repeat;
    position: absolute;
    top: 190px;
    left: 0;
    animation: clouds 8s linear infinite;
    transform: translateX(500%);
    opacity: 0.5;
}
@keyframes clouds {
    100% {transform: translateX(-100%);}
}
.lend-div {
    position:relative;
    height: 700px;
}
.img-lend {
    position: absolute;
    top: 290px;
    left: 0;
    z-index: 1;
}
.point-1 {position: absolute;width: 30%;left: 88%;top: 23%;z-index: 5;}
.point-2 {position: absolute;display: none;width: 7%;left: 100%;top: 51%;z-index: 5;transition: 3s;}
.point-3 {position: absolute;left: 5%;top: 30%;z-index: 5;}
.point-4 {position: absolute;left: 10%;top: 53%;z-index: 5;}
.point-5 {position: absolute;left: 23%;top: 32%;z-index: 5;}
.point-6 {position: absolute;width: 22%;left: 25%;top: 58%;z-index: 5;}
.point-7 {position: absolute;left: 38%;top: 35%;z-index: 5;}
.point-8 {position: absolute;left: 10%;top: 17%;z-index: 2;}
.point-9 {position: absolute;left: 67%;top: 41%;z-index: 5;}
.point-10 {position: absolute;left: 74%;top: 38%;z-index: 4;}
.point-11 {position: absolute;left: 81%;top: 35%;z-index: 3;}
.point-13 {position: absolute;left: 67%;top: 21%;z-index: 2;}
.point-14 {position: absolute;left: 50%;top: 45%;z-index: 2;}

.point-12 {position:absolute;width: 10px;height: 10px;top: -15%;left: -15%;animation: jump1 5s forwards;z-index: 2;}

@keyframes jump1 { 
    0% {left: 0.3%;top: 0%;} 
    2% {left: 0.6%;top: 1%;height: 20px;width: 20px;} 
    4% {left: 0.9%;top: 1%;height: 30px;width: 30px;}
    6% {left: 1.2%;top: 0%;height: 40px;width: 40px;}

    8% {left: 1.5%;top: 0%;height: 50px;width: 50px;} 
    10% {left: 1.8%;top: 1%;height: 50px;width: 50px;} 
    12% {left: 2.1%;top: 1%;height: 50px;width: 50px;}
    14% {left: 2.4%;top: 0%;height: 60px;width: 60px;}

    16% {left: 2.7%;top: 0%;height: 60px;width: 60px;} 
    18% {left: 3%;top: 2%;height: 50px;width: 70px;} 
    20% {left: 3.3%;top: 2%;height: 50px;width: 70px;}
    22% {left: 3.6%;top: 0%;height: 80px;width: 80px;}

    24% {left: 3.9%;top: 0%;height: 100px;width: 90px;} 
    26% {left: 4.2%;top: 2%;height: 80px;width: 108px;} 
    28% {left: 4.5%;top: 2%;height: 80px;width: 108px;}
    30% {left: 4.8%;top: 0%;height: 140px;width: 126px;}

    32% {left: 5.1%;top: 0%;height: 140px;width: 126px;} 
    34% {left: 5.4%;top: 3%;height: 120px;width: 144px;} 
    36% {left: 5.7%;top: 3%;height: 120px;width: 144px;}
    38% {left: 6%;top: 0%;height: 180px;width: 162px;}

    40% {left: 6.3%;top: 0%;height: 180px;width: 162px;} 
    42% {left: 6.6%;top: 3%;height: 160px;width: 180px;} 
    44% {left: 6.9%;top: 3%;height: 160px;width: 180px;}
    46% {left: 7.2%;top: 0%;height: 220px;width: 198px;}

    48% {left: 7.5%;top: 0%;height: 220px;width: 198px;} 
    50% {left: 7.8%;top: 4%;height: 210px;width: 216px;} 
    52% {left: 8.1%;top: 4%;height: 210px;width: 216px;}
    54% {left: 8.4%;top: 0%;height: 260px;width: 234px;}

    56% {left: 8.7%;top: 0%;height: 260px;width: 234px;} 
    58% {left: 9%;top: 4%;height: 250px;width: 252px;} 
    60% {left: 9.3%;top: 4%;height: 250px;width: 252px;}
    62% {left: 9.6%;top: 0%;height: 300px;width: 270px;}


    64% {left: 9.9%;top: 0%;height: 300px;width: 270px;} 
    66% {left: 10%;top: 5%;height: 290px;width: 288px;} 
    68% {left: 10%;top: 5%;height: 290px;width: 288px;}
    70% {left: 10%;top: 0%;height: 340px;width: 306px;}

    72% {left: 10%;top: 0%;height: 340px;width: 306px;} 
    74% {left: 10%;top: 5%;height: 330px;width: 324px;} 
    76% {left: 10%;top: 5%;height: 330px;width: 324px;}
    78% {left: 10%;top: 0%;height: 380px;width: 342px;}

    100% {left: 10%;top: 0%;height: 400px;width: 360px;}
}

.linel {
    stroke: #2b5c0b;
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: linel 30s linear forwards;
}
@keyframes linel {
    100% {
        stroke-dashoffset: 0; 
    }
}


.left-h1 h1 {
    font-size: 50px;
    font-family: 'Didact Gothic', sans-serif;
    color: #3a7b0f;
    text-transform: uppercase;
    text-align: left;
}
.left-h1 p {
    font-size: 26px;
    font-family: 'Didact Gothic', sans-serif;
    text-align: left;
    color: #fff;
}
.left-h2 {position: relative;top: 20%;}
.left-h2 h2.the-best {
    position: relative;
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    top: -18%;
    left: 0%;
    z-index: 3;
    letter-spacing: .2rem;
}
.left-h2 .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 16px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.left-h2 .preim-block p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}
.line-best {
    width: 495px;
    height: 300px;
    background: url(../img/line-1.svg) no-repeat;
}
.left-h2 svg {
    position: relative;
    left: 0;
    top: -9%;
}
.left-h2-row {position: relative;top: -15%;left: 10%;}
.left-h2-row .preim-block {width: 60%;}


@media screen and (max-width: 992px) {
    .lend-div {
        height: 200px;
        width: 50% !important;
        margin-top: 15% !important;
    }
    .lend-divv {
        width: 50% !important;
    }
    .img-lend {
        width: 140%;
        top: 78px;
        left: -40px;
    }
    .logo_top {
        width: 116px;
        top: 1%;
        left: 3%;
        z-index: 201;
    }
    .point-1 {width: 35%;left: 73%;top: 18%;}
    .point-2 {width: 10%;left: 87%;top: 47%;}
    .point-3 {display: none;left: 0px;top: -80px;}
    .point-4 {display: none;left: 50%;top: 50%;}
    .point-5 {width: 30%;left: 0%;top: 29%;}
    .point-6 {width: 30%;left: 0;top: 54%;}
    .point-7 {width: 30%;left: 22%;top: 38%;}
    .point-8 {width: 36%;left: -20%;top: 25%;}
    .point-9 {width: 15%;left: 50%;top: 37%;}
    .point-10 {width: 15%;left: 58%;top: 35%;}
    .point-11 {width: 15%;left: 66%;top: 32%;}
    .point-13 {width: 29%;left: 50%;top: 19%;}
    .point-14 {width: 40%;left: 30%;top: 47%;}

    .point-12 {position:absolute;width: 1%;top: -15%;left: -15%;animation: jump1 5s forwards;z-index: 2;}

@keyframes jump1 { 
    0% {left: 2%;top: 2%;} 
    2% {left: 3%;top: 1%;width: 2%;height: 2%;} 
    4% {left: 4%;top: 1%;width: 3%;height: 3%;}
    6% {left: 5%;top: 5%;width: 4%;height: 4%;}

    8% {left: 5%;top: 5%;width: 10%;height: 10%;} 
    10% {left: 6%;top: 3%;width: 10%;height: 10%;} 
    12% {left: 7%;top: 3%;width: 10%;height: 10%;}
    14% {left: 8%;top: 8%;width: 12%;height: 12%;}

    16% {left: 8%;top: 8%;width: 12%;height: 12%;} 
    18% {left: 9%;top: 6%;width: 17%;height: 17%;} 
    20% {left: 10%;top: 6%;width: 17%;height: 17%;}
    22% {left: 11%;top: 11%;width: 20%;height: 20%;}

    24% {left: 11%;top: 11%;width: 6%;height: 6%;} 
    26% {left: 12%;top: 9%;width: 6%;height: 6%;} 
    28% {left: 13%;top: 9%;width: 6%;height: 6%;}
    30% {left: 14%;top: 14%;width: 7%;height: 7%;}

    32% {left: 15%;top: 15%;width: 7%;height: 7%;} 
    34% {left: 16%;top: 12%;width: 7%;height: 7%;} 
    36% {left: 17%;top: 12%;width: 7%;height: 7%;}
    38% {left: 18%;top: 18%;width: 8%;height: 8%;}

    40% {left: 19%;top: 19%;width: 8%;height: 8%;} 
    42% {left: 20%;top: 16%;width: 8%;height: 8%;} 
    44% {left: 21%;top: 16%;width: 8%;height: 8%;}
    46% {left: 22%;top: 22%;width: 9%;height: 9%;}

    48% {left: 23%;top: 23%;width: 9%;height: 9%;} 
    50% {left: 24%;top: 19%;width: 9%;height: 9%;} 
    52% {left: 25%;top: 19%;width: 9%;height: 9%;}
    54% {left: 26%;top: 25%;width: 10%;height: 10%;}

    56% {left: 27%;top: 27%;width: 10%;height: 10%;} 
    58% {left: 28%;top: 25%;width: 10%;height: 10%;} 
    60% {left: 29%;top: 25%;width: 10%;height: 10%;}
    62% {left: 30%;top: 30%;width: 11%;height: 11%;}


    64% {left: 31%;top: 31%;width: 11%;height: 11%;} 
    66% {left: 32%;top: 28%;width: 11%;height: 11%;} 
    68% {left: 33%;top: 28%;width: 11%;height: 11%;}
    70% {left: 34%;top: 34%;width: 12%;height: 12%;}

    72% {left: 35%;top: 35%;width: 12%;height: 12%;} 
    74% {left: 36%;top: 32%;width: 12%;height: 12%;} 
    76% {left: 37%;top: 32%;width: 12%;height: 12%;}
    78% {left: 38%;top: 38%;width: 13%;height: 13%;}

    100% {left: 0%;top: -2%;width: 55%; height: 60%;}
}

    .intro__bg {top: 0;}

    .intro__bg_1 {top: -6%;left: -19%;width: 50%;}
    .intro__bg_2 {top: 2%;left: -8%;width: 20%;height: 2%;}
    .intro__bg_3 {top: -60px;left: 50%;width: 20%;}
    .intro__bg_4 {top: -7%;right: -9%;width: 30%;height: 20%;}

    .left-h1 {margin-top: 60px !important;padding-left:  0 !important;}
    .left-h1 h1 {position: relative;font-size: 14px;left: 30%;}
    .left-h1 p {position: relative;font-size: 10px;left: 30%;}
    .left-h1 button {/* position: absolute; */width: 67px;height: 24px;float: left;left: 30%;top: -6%;font-size: 9px;padding-top: 4px;}

    .left-h2 {top: 20%;}
    .left-h2 svg {
    position: absolute;
    width: 100%;
    float: left;
    left: 0%;
    top: -52%;
    margin-top: 0;
}
    .left-h2 h2.the-best {font-size: 9px;top: -5%;left: 0%;text-align: left;letter-spacing: 0;}
    .left-h2 .the-best span {
        width: 30px;
        height: 30px;
        padding: 9px 5px 5px 13px;
        margin-right: 0px;
        background: url(../img/bush.svg) no-repeat;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
    }
    .left-h2 img {width: 100%;z-index: 3;}
    .left-h2-c {
        width: 30% !important;
        float: left;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .left-h2 .preim-block {
        width: 70%;
    }
    .left-h2 .preim-block h2 {
        position: relative;
        font-size: 12px;
        z-index: 2;
        color: #fff;
    }
    .left-h2 .preim-block p {
        position: relative;
        font-size: 10px;
        z-index: 3;
        line-height: 1.3;
    }
    .preim-bc-1 .col-md-3 {width: 30%;}
    .preim-bc-1 .col-md-9 {width: 70%;}
    .preim-bc-1 img {width: 100%;}
    .preim-bc-1 h2 {
        font-size: 14px !important;
    }
    .preim-bc-1 p {
        font-size: 11px !important;
        line-height: 1.3;
    }
    .left-h2 .row {
        background: rgb(43 92 11 / 52%);
        position: relative;
        z-index: 5;
        padding-top: 10px;
        border-radius: 50px;
        top: -6%;
        margin-left: -80% !important;
        left: 0;
    }
}


/* -- END First scrin nuber 1 - index --*/

/* -- Two scrin nuber 1 - index --*/
.preim {
    height: 650px;
}
.preim-block h2 {
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #2c4107;
    text-align: left;
}
.preim-block p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    color: #468502;
    text-align: left;
}
.preim-block1 h2 {
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #2c4107;
    text-align: left;
}
.preim .preim-bc-row {
    margin-top: 20px;
}
.preim .preim-bc-1 p {
}

.preim .preim-bc-2 {
    margin-top: 200px;
}
.preim .preim-bc-2 .preim-bc-row {
    margin-top: 30px;
}
.preim .preim-bc-2 .preim-bc-row:nth-child(2n) {
    margin-left: 115px;
}

@media screen and (max-width: 992px) {
    .preim {
        margin-top: 10px;
    } 
    .preim .preim-bc-2 {
        margin-top: 25px;
    }
    .preim-block1 h2 {
        font-size: 11px;
    }
    .preim .preim-bc-2 .preim-bc-row:nth-child(2n) {
        margin-left: 0;
    }
}

/* -- END Two scrin nuber 1 - index --*/


/* -- Tree scrin nuber 1 - index --*/
.servis {
    height: auto;
}
.ser-left-b {
    width: 50% !important;
    height: 480px;
    background: url(../img/klyak-l-1.svg) no-repeat;
    margin-left: -70px;
}
.servis h2.the-best {
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-left: 114px;
    margin-top: 59px;
}
.servis .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 31px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.servis .the-best strong {  
	position: relative;   
	margin-left: 100px;   
	top: -23px;
}
.servis .ser-left-b p {
	font-size: 22px;
	color: #fff;
	line-height: 1.4;
}
.servis-nav {position: absolute;left: 52%;top: 10%;z-index: 5;}
.servis-nav ul li {list-style: none;font-family: 'Didact Gothic', sans-serif;font-size: 25px;text-transform: uppercase;background-color: #4b2a0c;-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;color: transparent;text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;font-weight: bold;padding-top: 5px;padding-bottom: 65px;}
.servis-nav ul li a {color: #553013;text-decoration: none;}
.servis-nav ul li a:hover {color: #331d0b;text-shadow: 2px 2px 3px rgba(255,255,255,0.1);}

.ser-left-a {position: relative;}
.pointt-0 {position: absolute;left: 75%;top: 70%;z-index: 1;}
.pointt-0 img {width: 100%;height: 100%;}
.pointt-01 {position: absolute;width: 50%;left: 63%;top: 100%;z-index: 0;opacity: 0.5;}
.pointt-01 img {width: 100%;height: 100%;}
.pointt-1 {position: absolute;width: 50%;top: 0%;left: 50%;z-index: 2;}
.pointt-1 img {width: 100%;height: 100%;}
.pointt-2 {position: absolute;width: 18%;top: -20%;left: 83%;z-index: 5;}
.pointt-2 img {width: 100%;height: 100%;}
.pointt-3 {position: absolute;width: 30%;top: 290px;left: -375px;z-index: 4;}
.pointt-3 img {width: 100%;height: 100%;}
.pointt-31 {position: absolute;width: 50%;top: 101%;left: -60%;z-index: 0;opacity: 0.2;}
.pointt-31 img {width: 100%;height: 100%;}
.pointt-4 {position: absolute;width: 30%;top: 66%;left: -38%;z-index: 5;}
.pointt-4 img {width: 100%;height: 100%;}
.pointt-5 {position: absolute;width: 25%;top: 33%;left: -21%;z-index: 4;}
.pointt-5 img {width: 100%;height: 100%;}
.pointt-51 {position: absolute;width: 37%;top: 105%;left: -28%;z-index: 0;opacity: 0.2;}
.pointt-51 img {width: 100%;height: 100%;}
.pointt-6 {position: absolute;width: 65%;top: 7%;left: -9%;z-index: 1;}
.pointt-6 img {width: 100%;height: 100%;}
.pointt-7 {position: absolute;width: 22%;top: 73%;left: 38%;z-index: 3;}
.pointt-7 img {width: 100%;height: 100%;}
.pointt-8 {position: absolute;width: 15%;top: 93%;left: 44%;z-index: 0;}
.pointt-8 img {width: 100%;height: 100%;}
.pointt-81 {position: absolute;width: 50%;top: 102%;left: 32%;z-index: 0;opacity: 0.2;}
.pointt-81 img {width: 100%;height: 100%;}
.pointt-9 {position: absolute;width: 35%;left: 73%;top: 80%;z-index: 5;}
.pointt-9 img {width: 100%;height: 100%;}
.pointt-10 {position: absolute;width: 50%;top: 20%;left: -16%;z-index: 2;}
.pointt-10 img {width: 100%;height: 100%;}

@media screen and (max-width: 992px) {
    .servis {
        height: auto;
        margin-top: 60px;
    }
    .ser-left-b {
        width: 94% !important;
        height: 250px;
        background: url(../img/klyak-l-1.svg) no-repeat;
        background-size: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .ser-left-a {
        position: relative;
        height: 280px;
    }
    .servis h2.the-best {
        font-size: 17px;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        margin-left: 57px;
        margin-top: 36px;
    }
    .servis .the-best span {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 9px 5px 5px 16px;
        margin-right: 5px;
        background: url(../img/bush.svg) no-repeat;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
    }
    .servis .the-best strong {
        position: relative;
        margin-left: 45px;
        top: -8px;
    }
    .servis .ser-left-b p {
        font-size: 13px;
        color: #fff;
        line-height: 1.3;
    }
    .servis-nav {left: 48%;top: 10%;}
    .servis-nav ul li {list-style: none;font-family: 'Didact Gothic', sans-serif;font-size: 12px;text-transform: uppercase;background-color: #4b2a0c;-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;color: transparent;text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;font-weight: bold;padding-top: 5px;padding-bottom: 29px;}
    .servis-nav ul li a {color: #553013;text-decoration: none;}
    .servis-nav ul li a:hover {color: #331d0b;text-shadow: 2px 2px 3px rgba(255,255,255,0.1);}
    
    .pointt-0 {width: 19%;left: 75%;top: 58%;}
    .pointt-0 img {width: 100%;height: 100%;}
    .pointt-01 {position: absolute;width: 35%;left: 65%;top: 91%;}
    .pointt-01 img {width: 100%;height: 100%;}
    .pointt-1 {width: 43%;left: 50%;top: 0;}
    .pointt-1 img {width: 100%;height: 100%;}
    .pointt-2 {width: 18%;left: 77%;top: -21%;}
    .pointt-2 img {width: 100%;height: 100%;}
    .pointt-3 {width: 30%;top: 50%;left: -9%;}
    .pointt-3 img {width: 100%;height: 100%;}
    .pointt-31 {width: 40%;top: 11%;left: -21%;}
    .pointt-31 img {width: 100%;height: 100%;}
    .pointt-4 {width: 32%;top: 60%;left: -17%;}
    .pointt-4 img {width: 100%;height: 100%;}
    .pointt-5 {width: 17%;top: 50%;left: 10%;}
    .pointt-5 img {width: 100%;height: 100%;}
    .pointt-51 {display: none;width: 40%;top: 50%;left: 3px;}
    .pointt-51 img {width: 100%;height: 100%;}
    .pointt-6 {width: 70%;top: -19%;left: -8%;}
    .pointt-6 img {width: 100%;height: 100%;}
    .pointt-7 {width: 17%;top: 67%;left: 41%;}
    .pointt-7 img {width: 100%;height: 100%;}
    .pointt-8 {width: 15%;top: 79%;left: 44%;}
    .pointt-8 img {width: 100%;height: 100%;}
    .pointt-81 {width: 32%;top: 91%;left: 37%;}
    .pointt-81 img {width: 100%;height: 100%;}
    .pointt-9 {width: 26%;left: 74%;top: 75%;}
    .pointt-9 img {width: 100%;height: 100%;}
    .pointt-10 {width: 44%;top: 16%;left: -2%;}
    .pointt-10 img {width: 100%;height: 100%;}

    .cloud1 {
        width: 50%;
        height: 20%;
        top: 0;
        left: 0;
    }
    .cloud2 {
        width: 50%;
        height: 20%;
        top: 50px;
        left: 0;
    }
    .cloud3 {
        width: 50%;
        height: 20%;
        top: 33px;
        left: 0;
    }
}

/* -- END Tree scrin nuber 1 - index --*/

/* -- 4 scrin nuber 1 - index --*/
.item {
    position: relative;
    height: auto;
}
.item .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 18px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.item h2.the-best {
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    text-transform: uppercase;
    padding-left: 50%;
    margin-top: -196px;
}
.contai-item {
    position: relative;
    height: 535px;
}

.block-item {
    position: relative;
}

.block-item a.atab-soc {
    display: block;
    height: 56%;
    text-decoration: none;
}

.block-item .block-item-b {
    position: relative;
    width: 100%;
    height: 535px;
    z-index: 10;
    background: url(../img/item-b.png) no-repeat;
    background-position-x: center;
}
.block-item img{
    position: absolute;
    width: 306px;
    top: 0;
    display: block;
    z-index: 9;
}

.item-info {
    position: absolute;
    width: 100%;
}
.item-info .tab-info {position: relative;background: url(../img/tablichka.png) no-repeat;background-size: 87%;height: 8rem;background-position-x: center;width: 100%;margin-top: 220px;z-index: 2;}
.item-info .tab-info h3 {
    font-family: 'Didact Gothic', sans-serif;
    width: 74%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    padding-top: 15px;
    text-transform: uppercase;
    color: #007400;
    font-weight: bold;
    margin-bottom: 0;
}
.item-info .tab-info span {
    display: block;
    width: 74%;
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    color: #007600;
    text-align: left !important;
}
.item-row {width: 82%;margin: 0 auto;}
.item-info .tab-info .price {
    font-size: 20px;
    color: #c31f3a;
    font-weight: bold;
}
.item-info .tab-info .price-old {
    color: #232f3e;
    margin-top: 7px;
    font-size: 15px;
    text-decoration: line-through;
    text-align: right;
}
.item-info .form-select {
    background-color: rgb(255 255 255 / 0%);
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-color: #bbbb22;
    color: #fff;
    text-transform: uppercase;
    --bs-form-select-bg-img: url(
    ../img/arrow-narrow-circle.svg);
    background-size: 16px 24px;
}
.item-info .form-select option {
    background-color: #FFEB3B;
    color: #007800;
}
.item-info button {
    background-color: rgb(255 255 255 / 0%);
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    border-color: #bbbb22;
    color: #fff;
    text-transform: uppercase;
}
.item-info .tab-soc {
    position: absolute;
    left: 0;
    width: 100%;
    display: inline-block;
    bottom: 195px;
    z-index: 1;
    transition-duration: 1000ms;
}
.item-info .tab-soc .icon-k {
    position: relative;
    float: left;
    margin-left: 15px;
    background: linear-gradient(41deg, rgba(33,171,32,1) 0%, rgba(9,121,11,1) 59%);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    z-index: 2;
}
.item-info .tab-soc .icon-k:hover {
    background: linear-gradient(41deg, rgba(226,158,116,1) 0%, rgba(142,65,34,1) 59%);
}
.item-info .tab-soc .izbb i {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/favorite.svg) no-repeat;
    background-size: 22px;
    background-position: center;
    stroke: #FFEB3B;
}
.item-info .tab-soc .srvv i {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/compare.svg) no-repeat;
    background-size: 22px;
    background-position: center;
    stroke: #FFEB3B;
}
.item-info .tab-soc .qvkk i {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/view.svg) no-repeat;
    background-size: 22px;
    background-position: center;
    stroke: #FFEB3B;
}
a.atab-soc:hover .item-info .tab-soc {
    transform: translateY(-60px);
}

@media screen and (max-width: 992px) {
    .item {
        position: relative;
        height: auto;
    }
    .item .the-best span {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 7px 5px 5px 6px;
        margin-right: 20px;
        background: url(../img/bush.svg) no-repeat;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
    }
    .item h2.the-best {
        font-size: 12px;
        font-family: 'Didact Gothic', sans-serif;
        color: #2b5c0b;
        text-transform: uppercase;
        padding-left: 0;
        margin-top: 0;
    }
    .contai-item {
        position: relative;
        height: 535px;
    }
    
    .block-item .block-item-b {
        position: relative;
        width: 100%;
        z-index: 10;
        background: url(../img/item-b.png) no-repeat;
        background-size: 100%;
    }
    .block-item {
        position: relative;
        width: 50% !important;
        height: 300px;
    }
    .block-item img{
        position: absolute;
        width: 85%;
        top: 1%;
        display: block;
        z-index: 9;
    }
    
    .item-info {
        position: absolute;
        left: 0;
        width: 100%;
    }
    .item-info .tab-info {
        position: relative;
        background: url(../img/tablichka.png) no-repeat;
        background-size: 100%;
        height: 4.2rem;
        width: 76%;
        margin: 0 auto;
        margin-top: 113px;
        z-index: 2;
    }
    .item-info .tab-info h3 {
        font-family: 'Didact Gothic', sans-serif;
        width: 83%;
        font-size: 0.4rem;
        text-align: left;
        padding-top: 9px;
        text-transform: uppercase;
        color: #007400;
        font-weight: bold;
        margin-bottom: 0;
    }
    .item-info .tab-info span {
        display: block;
        width: 83%;
        font-size: 0.4rem;
        text-transform: uppercase;
        color: #007600;
        text-align: left !important;
    }
    .item-row {
        width: 82%;
        margin: 0 auto;
    }
    .item-info .tab-info .price {
        color: #c31f3a;
        font-weight: bold;
        font-size: 0.7rem;
        padding: 0;
    }
    .item-info .tab-info .price-old {
        color: #232f3e;
        margin-top: 2px;
        font-size: 0.6rem;
        text-decoration: line-through;
        text-align: right;
        padding: 0;
    }
    .item-info .form-select {
        position: relative;
        background-color: rgb(255 255 255 / 0%);
        font-size: 0.5rem;
        border-color: #bbbb22;
        padding: 2px 5px;
        color: #fff;
        text-transform: uppercase;
        --bs-form-select-bg-img: url(
        ../img/arrow-narrow-circle.svg);
        background-size: 0.6rem 0.6rem;
        background-position: right 0.25rem center;
        width: 70%;
        margin: 5px auto;
    }
    .item-info .form-select option {
        background-color: #FFEB3B;
        color: #007800;
    }
    .item-info button {
        position: relative;
        display: block;
        padding: 2px 5px;
        background-color: rgb(255 255 255 / 0%);
        font-size: 8px;
        border-color: #bbbb22;
        color: #fff;
        text-transform: uppercase;
        width: 70%;
        margin: 5px auto;
    }
    .item-info .tab-soc {
        position: absolute;
        left: 19%;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        bottom: 47%;
        z-index: 1;
        transition-duration: 1000ms;
    }
    .item-info .tab-soc .icon-k {
        position: relative;
        float: left;
        margin-left: 6px;
        background: linear-gradient(41deg, rgba(33,171,32,1) 0%, rgba(9,121,11,1) 59%);
        border-radius: 5px;
        width: 20px;
        height: 20px;
        z-index: 2;
    }
    .item-info .tab-soc .icon-k:hover {
        background: linear-gradient(41deg, rgba(226,158,116,1) 0%, rgba(142,65,34,1) 59%);
    }
    .item-info .tab-soc .izbb i {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/favorite.svg) no-repeat;
        background-size: 14px;
        background-position: center;
        stroke: #FFEB3B;
    }
    .item-info .tab-soc .srvv i {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/compare.svg) no-repeat;
        background-size: 14px;
        background-position: center;
        stroke: #FFEB3B;
    }
    .item-info .tab-soc .qvkk i {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/view.svg) no-repeat;
        background-size: 14px;
        background-position: center;
        stroke: #FFEB3B;
    }
    a.atab-soc:hover .item-info .tab-soc {
        transform: translateY(-10%);
    }
    .block-item a.atab-soc {display: block;height: 56%;text-decoration: none;}
}

/* -- END 4 scrin nuber 1 - index --*/


/* -- 5 scrin nuber 1 - index --*/
.partner {
    height: 500px;
    margin-top: 100px;
}
.for-partner {
    position: relative;
    float: right;
    right: -70px;
    width: 100%;
    height: 550px;
    background: url(../img/lend-2.svg) no-repeat;
}
.partner .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 28px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.partner h2.the-best {
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    text-transform: uppercase;
}
.partner p {
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    line-height: 1.3;
}
.partner button {
    width: 170px;
    height: 45px;
    font-size: 22px;
    padding-top: 2px;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: #3a7b0f;
    border: none;
}
.partner button:hover {
    background: #53af16;
    color: #fff;
}
.partner__bg {position: absolute;width: 16%;z-index: 5;left: 30%;top: 2%;}
.partner__bg_1 {position: absolute;width: 12%;z-index: 6;left: 21%;top: 7%;}
.partner__bg_2 {position: absolute;width: 13%;z-index: 5;left: 50%;top: 29%;}
.partner__bg_3 {position: absolute;width: 25%;z-index: 4;left: 52%;}
.partner__bg_4 {position: absolute;width: 20%;z-index: 5;left: 64%;top: 20%;}

@media screen and (max-width: 992px) {
    .partner {
        height: 500px;
        margin-top: 170px;
    }
    .for-partner {
        position: relative;
        float: left;
        left: 0;
        width: 100%;
        height: 238px;
        background: url(../img/lend-2.svg) no-repeat;
        background-size: 100%;
    }
    .partner .the-best span {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 5px 5px 14px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    }
    .partner h2.the-best {
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    text-transform: uppercase;
    padding-left: 0;
    margin-top: 0;
    }
    .partner p {
        font-size: 12px;
        font-family: 'Didact Gothic', sans-serif;
        color: #2b5c0b;
        line-height: 1.3;
    }
    .partner button {
        width: 130px;
        height: 32px;
        font-size: 15px;
        padding-top: 2px;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        background: #3a7b0f;
        border: none;
    }
    .partner button:hover {
        background: #53af16;
        color: #fff;
    }
    .partner-col-1 {
        order: 2;
    }
    .partner-col-2 {
        order: 1;
    }
    .partner__bg {position: absolute;width: 16%;z-index: 5;left: 30%;top: 2%;}
    .partner__bg_1 {position: absolute;width: 12%;z-index: 6;left: 21%;top: 7%;}
    .partner__bg_2 {position: absolute;width: 13%;z-index: 5;left: 50%;top: 38%;}
    .partner__bg_3 {position: absolute;width: 25%;z-index: 4;left: 52%;}
    .partner__bg_4 {position: absolute;width: 20%;z-index: 5;left: 64%;top: 27%;}
}

/* -- END 5 scrin nuber 1 - index --*/

/* -- 6 scrin nuber 1 - index --*/
.history {
    height: auto;
}
.for-history {
    position: relative;
    left: -70px;
    height: 550px;
    background: url(../img/lend-3.svg) no-repeat;
}
.history .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 28px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.history h2.the-best {
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    text-transform: uppercase;
}
.history p {
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    line-height: 1.3;
}
.history button {
    width: 170px;
    height: 45px;
    font-size: 22px;
    padding-top: 2px;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: #3a7b0f;
    border: none;
}
.history button:hover {
    background: #53af16;
    color: #fff;
}
.history__bg_1 {position: absolute;width: 24%;z-index: 5;left: 30%;top: 19%;}
.history__bg_2 {position: absolute;width: 4%;z-index: 6;left: 40%;top: 43%;}
.history__bg_3 {position: absolute;width: 17%;z-index: 4;left: 23%;top: 20%;}
.history__bg_4 {position: absolute;width: 11%;z-index: 4;left: 77%;top: 23%;}
.history__bg_5 {position: absolute;width: 8%;z-index: 5;left: 76%;top: 23%;}
.history__bg_6 {position: absolute;width: 18%;z-index: 2;left: 58%;top: 19%;}
.history__bg_7 {position: absolute;width: 27%;z-index: 6;left: 52%;top: 27%;}
.history__bg_8 {position: absolute;width: 13%;z-index: 6;left: 68%;top: 29%;}
.history__bg_9 {position: absolute;width: 15%;z-index: 4;left: 62%;top: 25%;}
.history__bg_10 {position: absolute;width: 10%;z-index: 5;left: 60%;top: 29%;}

@media screen and (max-width: 992px) {
    .history {
        height: auto;
    }
    .for-history {
        position: relative;
        left: 0;
        height: 238px;
        background: url(../img/lend-3.svg) no-repeat;
        background-size: 100%;
    }
    .history .the-best span {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 7px 5px 5px 14px;
        margin-right: 20px;
        background: url(../img/bush.svg) no-repeat;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
    }
    .history h2.the-best {
        font-size: 22px;
        font-family: 'Didact Gothic', sans-serif;
        color: #2b5c0b;
        text-transform: uppercase;
        padding-left: 0;
        margin-top: 0;
    }
    .history p {
        font-size: 12px;
        font-family: 'Didact Gothic', sans-serif;
        color: #2b5c0b;
        line-height: 1.3;
    }
    .history button {
        width: 130px;
        height: 32px;
        font-size: 15px;
        padding-top: 2px;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        background: #3a7b0f;
        border: none;
    }
    .history button:hover {
        background: #53af16;
        color: #fff;
    }
    .history__bg_1 {position: absolute;width: 24%;z-index: 5;left: 30%;top: 26%;}
    .history__bg_2 {position: absolute;width: 4%;z-index: 6;left: 40%;top: 58%;}
    .history__bg_3 {position: absolute;width: 17%;z-index: 4;left: 23%;top: 28%;}
    .history__bg_4 {position: absolute;width: 11%;z-index: 4;left: 77%;top: 31%;}
    .history__bg_5 {position: absolute;width: 8%;z-index: 5;left: 76%;top: 31%;}
    .history__bg_6 {position: absolute;width: 18%;z-index: 2;left: 58%;top: 27%;}
    .history__bg_7 {position: absolute;width: 27%;z-index: 6;left: 52%;top: 37%;}
    .history__bg_8 {position: absolute;width: 13%;z-index: 6;left: 68%;top: 40%;}
    .history__bg_9 {position: absolute;width: 15%;z-index: 4;left: 62%;top: 35%;}
    .history__bg_10 {position: absolute;width: 10%;z-index: 5;left: 60%;top: 39%;}
}

/* -- END 6 scrin nuber 1 - index --*/

/* -- 7 scrin nuber 7 - index --*/

footer {
    position: relative;
    background: url(../img/footer-bg.svg) no-repeat;
    background-position-y: top;
    background-size: cover;
    height: 885px;
    overflow: hidden;
}
footer .container {
    position: relative;
    z-index: 5;
}
.foot__bg_1 {position: absolute;width: 20%;bottom: -10%;left: -5%;z-index: 0;}
.foot__bg_2 {position: absolute;float: right;right: -7%;top: 47%;width: 13%;z-index: 0;}
.foot__bg_3 {position: absolute;width: 100%;top: 35%;opacity: 0.5;}
footer h2.the-best {
    font-size: 36px;
    font-family: 'Didact Gothic', sans-serif;
    color: #2b5c0b;
    text-transform: uppercase;
}
footer .the-best span {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 16px 20px 20px 32px;
    margin-right: 20px;
    background: url(../img/bush.svg) no-repeat;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.foot-one-col {
    margin-top: 7% !important;
}
.foot-h {
    margin-top: 30% !important;
    color: #2b5c0b;
    margin-bottom: 5% !important;
    font-size: 30px;
}
.foot-two-col .row:first-child {
    margin-top: 50% !important;
}
.foot-two-col .row:last-child {
    margin-top: 10% !important;
}
.foot-two-col img {
    width: 60%;
    margin: 0 auto;
}
.foot-two-col a {
    font-size: 24px;
    color: #2b5c0b;
    text-decoration: none;
    padding-left: 30px;
    text-align: center;
    margin-top: 9%;
}
.foot-two-col a:hover {
    text-transform: uppercase;
}
.foot-two-col button {
    width: 229px;
    height: 45px;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 2px;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: #3a7b0f;
    border: none;
    position: relative;
    z-index: 10;
}
.foot-two-col button:hover {
    background: #53af16;
    color: #fff;
}
.foot-two-row h3 {
    font-size: 28px;
    color: #2b5c0b;
    text-transform: uppercase;
}
.foot-two-row li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    padding-left: 30px;
}
.foot-two-row li a span {
    padding-left: 30px;
}
.foot-two-row li a:hover {
    color: #2b5c0b;
}
.foot-two-row li:first-child {
    background: url(../img/geo.png) no-repeat;
    background-position-y: center;
}
.foot-two-row li:nth-child(2) {
    background: url(../img/tel-f.png) no-repeat;
    background-position-y: center;
}
.foot-two-row li:nth-last-child(2) {
    background: url(../img/email-f.png) no-repeat;
    background-position-y: center;
}
.foot-two-row li:last-child {
    background: url(../img/clock-f.png) no-repeat;
    background-position-y: center;
}

.foot-tree-row {
    margin-top: 30px !important;
    height: 50px;
}
.foot-six-col img {
    width: 68%;
}

@media screen and (max-width: 992px) {

    footer {
        position: relative;
        background: url(../img/footer-bg2.svg) no-repeat;
        background-position-y: top;
        background-size: cover;
        height: 456px;
        overflow: hidden;
    }
    footer .container {
        position: relative;
        z-index: 5;
    }
    .foot__bg_1 {position: absolute;width: 20%;bottom: -10%;left: -5%;z-index: 0;}
    .foot__bg_2 {position: absolute;float: right;right: -7%;top: 47%;width: 13%;z-index: 0;}
    .foot__bg_3 {position: absolute;width: 100%;top: 35%;}
    footer h2.the-best {
        font-size: 22px;
        font-family: 'Didact Gothic', sans-serif;
        color: #2b5c0b;
        text-transform: uppercase;
        padding-left: 0;
        margin-top: 0;
    }
    footer .the-best span {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 7px 5px 5px 14px;
        margin-right: 20px;
        background: url(../img/bush.svg) no-repeat;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
    }
    .foot-one-col {
        margin-top: 12% !important;
    }
    .foot-h {
        margin-top: 6% !important;
        color: #2b5c0b;
        margin-bottom: 5% !important;
        font-size: 17px;
    }
    .foot-two-col .row:first-child {
        float: left;
        width: 50%;
        margin-top: 0% !important;
    }
    .foot-two-col .row:nth-last-child(2) {
        width: 50% !important;
        margin-top: 0% !important;
    }
    .foot-two-col .row:last-child {
        width: 50% !important;
        margin-top: 0% !important;
    }
    .foot-two-col img {
        width: 100%;
        margin: 0;
    }
    .foot-two-col a {
        font-size: 17px;
        color: #2b5c0b;
        text-decoration: none;
        padding-left: 0px;
        text-align: center;
        margin-top: 1%;
    }
    .foot-two-col a:hover {
        text-transform: uppercase;
    }
    .foot-two-col button {
        width: 80%;
        height: 34px;
        font-size: 14px;
        margin: 0 auto;
        padding-top: 2px;
        font-family: 'Didact Gothic', sans-serif;
        color: #fff;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        background: #3a7b0f;
        border: none;
        position: relative;
        z-index: 10;
    }
    .foot-two-col button:hover {
        background: #53af16;
        color: #fff;
    }
    .foot-two-row h3 {
        font-size: 14px;
        color: #2b5c0b;
        text-transform: uppercase;
    }
    .foot-two-row li a {
        font-size: 8px;
        display: block;
        color: #fff;
        text-decoration: none;
        line-height: 1;
        padding-left: 19px;
        height: 28px;
    }
    .foot-two-row li a span {
        padding-left: 0px;
    }
    .foot-two-row li a:hover {
        color: #2b5c0b;
    }
    .foot-two-row li:first-child {
        background: url(../img/geo.png) no-repeat;
        background-size: 3%;
        background-position-y: top;
        height: 16px;
    }
    .foot-two-row li:nth-child(2) {
        background: url(../img/tel-f.png) no-repeat;
        background-size: 3%;
        background-position-y: top;
        height: 16px;
    }
    .foot-two-row li:nth-last-child(2) {
        background: url(../img/email-f.png) no-repeat;
        background-size: 3%;
        background-position-y: top;
        height: 16px;
    }
    .foot-two-row li:last-child {
        background: url(../img/clock-f.png) no-repeat;
        background-size: 3%;
        background-position-y: top;
        height: 16px;
    }
    
    .foot-tree-row {
        margin-top: 5px !important;
        height: 30px;
    }
    .foot-six-col img {
        width: 100%;
    }
    .foot-tree-col {
        float: left;
        width: 50% !important;
    }
    .foot-four-col {       
        width: 50% !important;
    }
    .foot-five-col {
        display: none;
    }
    .foot-two-row {
        margin-top: 8% !important;
    }
    .foot-six-col {
        width: 20% !important;
    }
    .foot-sixe-col {
        width: 30% !important;
    }
    .foot-seven-col {
        width: 50% !important;
    }

    .foot-seven-col ul.soc .facebook {
        background: url(../img/facebook.svg) no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .foot-seven-col ul.soc .youtube {
        background: url(../img/youtube.svg) no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .foot-seven-col ul.soc .insta {
        background: url(../img/insta.svg) no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

}

/* -- END 7 scrin nuber 7 - index -- */


.follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #2c4107;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%); 
    position: absolute; 
    z-index: 999; 
    pointer-events: none; 
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  }
  
  .follow-cursor_active {
    height: 128px;
    width: 128px;
    border-width: 1px;
    background: #2b5c0b3b;
  }
  
  @media (max-width: 991.98px) {
    .follow-cursor {
      display: none;
    }
  }

.navbar-nav {
    z-index: 10;
}

.navbar-nav .n-one {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.navbar-nav .n-one a {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    color: #fbfbfb;
    transition: background-color 0.2s ease;
}

.navbar-nav .n-one:hover a {
    cursor: pointer;
}

.navbar-nav .n-one .n-two {
    display: none;
    /* overflow: hidden; */
    background-color: white;
    width: 500px;
    min-width: 200%;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    z-index: 10;
}

.navbar-nav .n-one:not(:first-of-type):not(:last-of-type) .n-two {
    left: -50%;
    border-radius: 0 0 3px 3px;
}

.navbar-nav .n-one:first-of-type .n-two {
    left: 0;
    border-radius: 0 0 3px 0;
}

.navbar-nav .n-one:last-of-type .n-two {
    right: 0;
    border-radius: 0 0 0 3px;
}

.navbar-nav .n-one:hover .n-two {
    display: block;
    border-radius: 10px;
}

.navbar-nav .n-one .n-two a {
    display: block;
    float: left;
    padding: 8px 10px;
    width: 46%;
    margin: 2%;
    text-align: center;
    color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255 255 255 / 0%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    background: #3a7b0f;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.navbar-nav .n-one .n-two a:hover {
    background: #53af16;
    color: #fff;
    cursor: pointer;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(41deg, rgba(43,92,11,1) 0%, rgba(227,211,33,1) 50%, rgba(227,225,33,1) 100%);
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 40%;
    left: 45%;
    width: 200px;
    height: 200px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  .dialog {
    float: left;
    top: 10%;
    left: 68%;
    background: silver;
    padding: 1em 1.5em;
    border-radius: 1em;
    position: relative;
    line-height: 1.5em;
    opacity: 0;
    animation: dialog 3s linear forwards;
    animation-delay: 5s;
  }
  @keyframes dialog {
    0% {width: 0;}
    100% {width: 55%; opacity: 1;}
  }
  .dialog-s {
    opacity: 0;
    animation: dialog-s 2s linear forwards;
    animation-delay: 5.9s;
  }
  @keyframes dialog-s {
    0% {width: 0;}
    100% {width: 100%; opacity: 1;}
  }
  
  .dialog::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: .5em;
    width: 1.8em;
    border-top: none;
    height: .9em;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: silver;
    border-color: silver;
    margin-left: -.9em;
  }